@CHARSET "UTF-8";


table {
  margin: 0 auto; /* 가로 가운데 정렬 */
}

#btns {
    text-align: center;
}

#btns .btn {
    margin: 0 10px; /* 각 버튼 사이의 간격 조절 */
}

form {
    margin-top: 20px; /* 위쪽 마진 크기를 조절할 수 있습니다. */
}

#popupButton{
	background-color: rgb(199, 1, 1);
	color: white;
	/* 선택적으로 텍스트 색상을 흰색으로 설정하여 가시성을 높일 수 있습니다. */
}
